<a href="https://colab.research.google.com/github/unitinguncle/Machine-Learning/blob/main/Machine%20Learning%20Pandas%20Basic%20Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Dataset**

In this Experiment you will be using movies dataset. The dataset contains 77 rows and 8 columns. The columns are as follows:

* Film
* Genre
     - Romance, Comedy, Drama, Animation, Fantasy, Action
* Lead Studio
* Audience score in percentage
* Profitability
* Rotten Tomatoes in percentage
* Worldwide Gross
* Year

## **Exercises**

In [ ]:
import pandas as pd

In [ ]:
moviesdata = pd.read_csv("/content/movies - movies.csv.csv")

In [ ]:
moviesdata.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

### Exercises 1: How many movies are listed in the moviesdata dataframe?

In [ ]:
# Your Code Here
moviesdata['Film'].count()

77

### Exercises 2: How many movies were made in the year 2009?

In [ ]:
moviesdata[moviesdata['Year']==2009]['Film'].count()

12

### Exercises 3: Which year saw the most films released?

In [ ]:
# Your Code Here
moviesdata['Year'].max()

2011

### Exercises 4: How many movies were made from 2010 through 2011?

In [ ]:
# Your Code Here
m10 = moviesdata['Year']==2010
m11 = moviesdata['Year']==2011
moviesdata[m10 | m11]['Film'].count()

34

### Exercises 5: In Genre column, sometimes Comedy is spelled as Comdy, comedy and Romance is spelled as romance, Romence. Replace all the misspelt words with correct words

In [ ]:
# Your Code Here
moviesdata.replace(to_replace=['Comdy','comedy'],value= 'Comedy')
moviesdata.replace(to_replace=['romance','Romence'],value= 'Romance')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,Romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

### Exercises 6: How many Comedy Genre movies has release in 2009?

In [ ]:
# Your Code Here
moviesdata[moviesdata['Genre']=='Comedy']['Film'].count()

41

### Exercises 7: Which year as the most number of Romance Genre Movies releases?

In [ ]:
# Your Code Here
moviesdata[moviesdata['Genre']=='Romance']['Year'].max()

2011

### Exercises 8: How many films are made by Sony Lead Studio?

In [ ]:
# Your Code Here
moviesdata[moviesdata['Lead Studio']=='Sony']['Film'].count()

4

### Exercises 9: How many films are having Audience score less than 50 %?

In [ ]:
# Your Code Here
moviesdata[moviesdata['Audience score %'] < 70]['Film'].count()

48

### Exercises 10: Display all the movies done by Universal Lead Studio?

In [ ]:
# Your Code Here
moviesdata[moviesdata['Lead Studio']=='Universal']['Film']

45          Mamma Mia!
46          Mamma Mia!
48        Love Happens
53           Leap Year
54          Knocked Up
57           Jane Eyre
58    It's Complicated
73       A Serious Man
Name: Film, dtype: object